
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Самосвал RENAULT KERAX 8Х4', mainTechnicPage = 'Самосвалы', mainTechnicPageUrl = 'samosvals.html', value = "Спецтехника", name = 'smsvlReanaultKerax', identifikator = 'samosvalM', modalHidden = true;
- var descr = "Сдаём в аренду Самосвал RENAULT KERAX 8Х4 для большого спектра работ: ремонт, строительство, добыча полезных ископаемых. Компания 'Терекс-Плюс предоставляет в аренду самосвал RENAULT KERAX 8Х4', стоимость от 11200р за смену. Скидки при долгосрочном сотрудничестве.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Аренда самосвала, Аренда самосвала самосвал RENAULT KERAX 8Х4, Аренда самосвала самосвал RENAULT KERAX 8Х4 в Санкт-Петербурге, аренда спецтехники';




doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
