
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Самосвал КАМАЗ 65115', value = "Спецтехника", name = 'smsvlKamaz65115', identifikator = 'samosvalM', modalHidden = true;
- var descr = "Мы предоставляем в аренду самомвал КАМАЗ 65115 для большого количества работ. Предоставим скидку за долгосрочное сотрудничество. Стоимость аренды самосвала от 9000р. за смену.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Аренда самосвала, Аренда самосвала самосвал камаз 65115, Аренда самосвала самосвал камаз 65115 в Санкт-Петербурге, аренда спецтехники';




doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
