$main-color: rgb(255, 198, 26);

.header_template {
    min-height: 250px!important;
    background-position: top!important;

}
.about {
    margin-top: 25px;
    box-shadow: rgb(163, 163, 163) 0px -9px 4px -1px inset;
    min-height: 350px;
    h2 {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        text-align: center;
    }
    
    p {
    
        line-height: 1.8;
    }
    .about_item {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        img {
            width: 70px;
            margin: 10px;
            padding: 10px;
            border: 5px solid $main-color;
            border-radius: 20%;
        }
        li {
            flex: 3 1 400px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
    }
    
}

.contacts {
    margin-bottom: 40px;
    .info__title {
        text-transform: uppercase;
        font-weight: 600;
        margin: 20px;
        margin-bottom: 40px;
    }
    .contact {
        margin-bottom: 15px;
        .icon {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;

          &:before {
            color: $main-color;
            font-family: 'icomoon';
            font-size:26px;
            padding-right: 15px;
        }  
        }
        
        .icon-phone {
            font-size: 30px;
            font-weight: 600;
            &:before {
            content: "\e942";
            }
            &:hover {
                color: $main-color;
            }
        }
        .icon-mail {
            font-size: 20px;
            &:hover {
                color: $main-color;
            }
            &:before {
                content: "\e945";
            }
        }
        .icon-address {
            &:hover {
                color: $main-color;
            }
            &:before {
            color: darkgray;
            content: "\e947";
            }
        }
        .icon-telegram {
            &:before {
                content: "\ea95";
                color: #0088cc;
            }
            &:hover {
                color: $main-color;
            }
        }
        .icon-whatsapp {
            &:before {
                content: "\ea93";
                color: #25d366;
            }
            &:hover {
                color: $main-color;
            }
        }
        .icon-clock {
            font-size: 48px;
            font-weight: 600;
        &:before {
            content: "\e94e";
        }
    }
        &:last-child {
            margin-bottom: 50px;
        }
    } 
    .contact_request {
            margin-top: 60px;
        }
    .contact__feedback {
        margin-top: 25px;
        h4 {
            font-weight: 600;
        }
        .warning {
            line-height: 1;
            color: grey;
            font-size: 10px;
        }
        .request__form {
            button {
                background-color: $main-color;
                text-transform: uppercase;
                font-weight: 600;
                box-shadow: 0 0 0 1px #fff, inset 0 0 0 1px rgba(0,0,0,.75);
                font-size: 18px;
                height: 50px;
                &:hover {
                background-color: grey;
                color: $main-color;
                }
            }
            .user {
                margin-bottom: 20px;
            }
            
        }
    }
}

.field {
    height: 10px;
    background: linear-gradient(90deg, rgb(255, 198, 26) 41%, rgb(0, 0, 0) 78%);
}

reveal-modal-bg { 
    position: fixed; 
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    z-index: 100;
    display: none;
    top: 0;
    left: 0; 
    }

.reveal-modal {
    visibility: hidden;
    top: 100px; 
    left: 50%;
    margin-left: -300px;
    width: 520px;
    background: #eee url(modal-gloss.webp) no-repeat -200px -80px;
    position: absolute;
    z-index: 101;
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
    }
    
.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
    } 

.strip {
    .custom-nav {
        line-height: 1;
    }
}

//page error 404

#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
    &:before {
        position: absolute;
        content: '';
        top: 44px;
        left: 61px;
        width: 56px; 
        height: 100px;
        background: #9CD6C0;
        border-radius: 50px/100px;
        background-image: url('../img/logo_3.webp');
        background-size: contain;
        border: 1px solid rgba(0,0,0,.4);
        box-shadow: inset 2px 1px 4px;
        z-index:1;
      }
  }
  
  .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
  }
  
  .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }

  .notfound .notfound-404 h1 {
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  
  .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .notfound p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .notfound a {
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    background-color: #2c2c2c;
  }

  //@extend

  //modal 

.modal-dialog {
    .modal-content {
        margin: 0 auto;
        width: 400px;
        .modal-header {
            padding-bottom: 0;
            h5 {
                font-size: 28px;
                width: 300px;
                text-align: center;
                border-bottom: 2px solid black;
                padding-left: 10px;
            }
            border-bottom: 0;
            background-color: $main-color!important;
            
        }
        .modal-body {
            background-color: $main-color;
            padding-bottom: 0;
            .user {
                padding-bottom: 20px;
            }
        }
        .modal-footer {
            border-top: 0;
            padding-top: 0;
            width: 100%;
            background-color: $main-color;
            .btn_modal {
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
                text-transform: uppercase;
                background-color: #fff;
                border: 2px solid #000;
                border-radius: 0;
                font-weight: 600;
                font-size: 15px;
                padding: 10px 25px;
                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}

