

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Мини-экскаватор Kubota KX057-4', value = "Спецтехника", name = 'mineKubota', identifikator = 'mineM', modalHidden = true;
- var descr = "Арендуя у нас Мини-экскаватор Kubota KX057-4 вы получаете универсальную землеройную машину. 'Терекс-Плюс' предоставляет в аренду Мини-экскаватор Kubota KX057-4 по цене за смену от 11000руб."
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'аренда мини-экскаватора мини-экскаватор Kubota KX057-4, арендовать мини экскаватор мини-экскаватор Kubota KX057-4, заказать мини экскаватор мини-экскаватор Kubota KX057-4, мини экскаватор мини-экскаватор Kubota KX057-4 в аренду, услуги мини экскаватора Мини-экскаватор Kubota KX057-4';

doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
