

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Мини-экскаватор TAKEUCHI TB016', mainTechnicPage = 'Миниэкскаваторы', mainTechnicPageUrl = 'mini-excavatory.html', value = "Спецтехника", name = 'mineTakeuchiTB016', identifikator = 'mineM', modalHidden = true;
- var descr = "Мы предоставляем в аренду Мини-экскаватор TAKEUCHI TB016 для широкого спектра работ. К каждому заказчику применяем индивидуальный подход, по результатам которого формируется оптимальная стоимость аренды.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'аренда мини-экскаватора мини-экскаватор TAKEUCHI TB016, арендовать мини экскаватор мини-экскаватор TAKEUCHI TB016, заказать мини экскаватор мини-экскаватор TAKEUCHI TB016, мини экскаватор мини-экскаватор TAKEUCHI TB016 в аренду, услуги мини экскаватора Мини-экскаватор TAKEUCHI TB016';

doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
