
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage = 'Экскаватор погрузчик JCB 4CX', mainTechnicPage = 'Экскаваторы погрузчики', mainTechnicPageUrl = 'excavatory-pogruzchiki.html', value = "Спецтехника", name = 'epogJSB4CX', identifikator = 'ekskPogrM', modalHidden = true;
- var descr = 'Мы - "Терекс-плюс", предлагаем в аренду экскаватор-погрузчик JCB 4CX с грузоподъемностью 4,64 тонны и глубиной копания 5,3 метра. Данная модель может выполнять комплексные решения задач от подготовки площадки под строительство, планировки участка, до погрузки и вывоза мусора с территории площадки. Цена за смену от 12000 руб.';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'экскаватор погрузчик JCB 4CX, аренда экскаватор погрузчик JCB 4CX, аренда экскаватор погрузчик JCB 4CX в Санкт-Петербурге, Экскаваторы погрузчики в аренду';



doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      section.technic_description
        .container
          .row
            .col-12.text-center
            p. 
              Увеличение объемов строительства существенно увеличило спрос на автомобильную строительную технику. Далеко не многие строительные компании имеют возможность позволить себе купить спецтехнику. Это связано с достаточно большой ее стоимостью.
              Наиболее правильным в таком случае решением будет – взять в аренду экскаватор погрузчик JCB 4CX у нас в компании. Так, вы сможете обеспечить качественное выполнение работ, при этом избегая чрезмерных затрат.
            h3 Особенности JCB 4CX
            p. 
              Компания JCB является всемирно известным брендом, прославленным высоким качеством производимой продукции. Каждый вид спецтехники, выпускаемый под знаком данного бренда, пользуется невероятным спросом. Это обусловлено практичностью, надежностью и долговечностью каждой модели.   
              Экскаватор погрузчик JCB 4CX не стал исключением. Он считается универсальной машиной, способной качественно выполнять погрузку и разгрузочные работы. Также JCB 4CX используют в строительстве и при выполнении дорожных работ. Колесный экскаватор погрузчик JCB 4CX может качественно выполнять различного рода задачи, связанные с разработкой грунта, выемкой и укладкой грунтового слоя, трамбовкой почвы, а также способен без труда осуществлять транспортировку грузов в пределах площадки.
              Экскаватор погрузчик JCB 4CX оснащен механической системой компенсации угла наклона ковша при подъеме стрелы. Такие технические особенности позволяют исключать просыпание грузов во время погрузочных работ. Благодаря оснащению гидросистемой, экскаватор погрузчик обладает весьма внушительными показателями грузоподъемности. 
              JCB 4CX наиболее часто оснащен механической коробкой передач, делающей управление экскаватором погрузчиком максимально комфортным и легким, тем самым существенно увеличивая его производительность. Модели JCB 4CX, оснащенные 6 скоростными автоматическими коробками, будут обладать более высокой производительностью, что особенно хорошо будет ощущаться во время транспортировки грузов по дорогам.
              Строительная техника экскаватор погрузчик JCB 4CX по праву считается безопасной машиной. Для этого она усовершенствована регулируемыми подушками скольжения выносных опор. Потому, можно с уверенностью говорить о продуктивности использования такого вида спецтехники при выполнении различного рода задач. 
            ul 
              h3 Спецтехнику JCB 4CX используют для:
              li Выполнения работ в коммунальной деятельности – в данном случае эту спецтехнику используют для создания траншей под последующую прокладку инженерных сетей или при их ремонте; 
              li Осуществления ремонтных дорожных работ – с его помощью выполняют монтаж различных элементов дорог и мостов;
              li Выполнения строительных работ – с помощью экскаватора погрузчика JCB 4CX удается максимально эффективно выполнить устройство котлованов, а также эффективно расчистить территорию. Экскаватор погрузчик JCB 4CX не менее качественно справляется с погрузочными и разгрузочными работами, позволяя избавиться от строительного мусора.
            p Если сравнивать JCB 4CX с иными моделями экскаваторов погрузчиков производства компании JCB, то можно с уверенностью выделить его увеличенную нагрузку. С его помощью удается в разы увеличить масштаб выполняемой работы без нарушения ее качества. Такие показатели позволяют в разы уменьшить затраты, а также нагрузку, возлагаемую на иные виды строительной техники. 
            ul 
              h3 Основные преимущества экскаватора погрузчика JCB 4CX:
              li Улучшенная безопасность условий работы оператора;
              li Высокие показатели износоустойчивости и надежности техники;
              li Наличие нескольких видов управления, обеспечивающих комфортные условия работы;
              li Возможность осуществления регулировки степени наклона рабочего органа;
              li Доступна установка рукоятей двух видов;
              li Уменьшенное потребление горючего, обеспечивающее экономичность;
              li Возврат рабочего органа в исходное положение осуществляется автоматически;
              li Посредством спутника возможно отслеживать положение экскаватора;
              li Устойчивость экскаватора улучшена;
              li Улучшенные технические характеристики, обеспечивающие более продуктивную работоспособность транспортной спецтехнике.
            h3 Взять в аренду JCB 4CX
            p. 
              Благодаря возможности взять в аренду JCB 4CX существенно упрощаются многие рабочие процессы. Данный вид строительной спецтехники позволяет уменьшить трудозатраты человека, тем самым увеличивая производительность и уменьшая сроки выполнения поставленной задачи. 
              Решение арендовать экскаватор погрузчик JCB 4CX у нас в компании по праву можно считать правильным. Так у вас нет необходимости затрачивать средства на покупку новой спецтехники, что в разы экономит бюджет.
            br
            br
      include ../../footer
      script(src="../../build/js/all.js")
