
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор погрузчик TEREX 860', value = "Спецтехника", name = 'epogTEREX860', identifikator = 'ekskPogrM', modalHidden = true;
- var descr = 'Нужна техника для выполнения землеройных и погрузочных задач? Аренда экскаватора-погрузчика Terex 860 станет выгодным решением. "Терекс-Плюс" предоставляет в аренду Экскаватор-погрузчик Terex 860 в Санкт-Петербурге и Ленинградской области от 12000руб. за смену. Возможны скидки на индивидуальных условиях';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'аренда экскаватора погрузчика экскаватор-погрузчик terex 860, аренда экскаватора погрузчика экскаватор-погрузчик terex 860 в Санкт-Петербурге, аренда погрузчика, аренда экскаватора, услуги экскаватора погрузчика экскаватор-погрузчик terex 860';



doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      section.technic_description
        .container
          .row
            .col-12.text-center
              p. 
                Наша компания обладает широким автопарком спецтехники, предоставляя возможность своим клиентам взять в аренду экскаватор погрузчик Terex 860. Независимо от места расположения объекта, мы осуществляем доставку спецтехники, позволяя компаниям не прерывать рабочий процесс.
                На протяжении длительного срока деятельности наша компания сумела завоевать доверие своих клиентов. Располагая достаточно большим автопарком, мы также заботимся о качестве каждой машины. Своевременное обслуживания экскаватора погрузчика Terex 860 позволяет нам гарантировать его полноценную работу. С нами вы сможете осуществлять строительно-дорожные и иные работы без дополнительного привлечения рабочей человеческой силы.
              h3 Особенности экскаватора погрузчика Terex 860
              p. 
                Погрузчик Terex 860 является строительной машиной, созданной для осуществления работ с различными горными породами. С помощью экскаватора погрузчика Terex 860 без труда удастся выполнять работы с землей, прокладку теплотрассы или газопровода. Такой вид спецтехники незаменим в строительно-дорожных работах, позволяя существенно экономить трудозатраты человека и обеспечивая качественное выполнение поставленной задачи.
                Важно понимать, что существуют модели Terex 860 мальтиковшовые и экскаваторы с наличием всего одного ковша. Как правило, технические характеристики экскаватора погрузчика могут зависеть не только от грузоподъемности, но также от типа спецтехники. Главной особенностью экскаватора погрузчика колесного можно считать его возможность одновременного осуществления экскавации и перемещения.
                Модель экскаватора погрузчика Terex 860 по праву можно считать классическим видом спецтехники, обладающим колесной формулой 4х4. Его движение по дорогам будет весьма комфортным из-за возможности отключения переднего моста. Это позволяет транспортировать Terex 860 на любой объект. 
                Экскаваторы оснащены двигателем Perkins, объемом 4,4 литра. Он достаточно мощный – 74,5 кВт, что позволяет выполнять работы различной степени сложности. 
              h3 Взять в аренду экскаватор погрузчик Terex 860
              p. 
                Строительная техника экскаватор погрузчик Terex 860 является полноприводным. Его технические особенности позволяют говорить о том, что модель по праву незаменима для выполнения различного рода земляных работ. Экскаватор погрузчик Terex 860 – универсальная модель спецтехники. 
                Решив взять в аренду Terex 860, вы сможете без труда осуществлять планировку площадок, различного рода земляные работы, а также погрузку грунта и строительного мусора. Благодаря тому, что Terex 860 прекрасно совмещает в себе функции фронтального погрузчика и экскаватора, причем полноценно справляясь с возлагаемыми на него функциями, такая модель спецтехники способна существенно экономить затрачиваемый бюджет. Нет необходимости дополнительного задействования различных видов строительных машин. 
                Terex 860 обладает функцией смещения обратной доплаты. Это позволяет использовать экскаватор погрузчик в непосредственной близости со строительными объектами и зданиями. Дополнение экскаватора колесной базой позволяет без труда перемещать этот вид техники для объекта своим ходом. При необходимости выполнить доставку Terex 860 на удаленные участки, его транспортировка также возможна при помощи низкорамных платформ. 
                Благодаря возможности взять в аренду Terex 860 вы сможете максимально быстро и качественно выполнять довольно большой объем работы. Это существенно уменьшает трудозатраты работников, экономит рабочее время и обеспечивает хорошую отдачу. 
              ul
                h3 Почему стоит взять в аренду Terex 860 у нас в компании?
                li Широкий автопарк спецтехники, позволяет каждому подбирать наиболее подходящий для себя вариант;
                li Все машины проходят своевременное обслуживание, что позволяет гарантировать их исправность;
                li Высокое качество транспорта – гарантия продуктивной работы;
                li Гарантия безопасной сделки, подтвержденная договорными отношениями.
              p. 
                Предоставляя своим клиентам аренду экскаватора погрузчика Terex 860, мы заключаем договор, защищая отношение между клиентом и компанией действующим законодательством страны. К тому же, мы предлагаем наиболее выгодные условия сотрудничества для каждого клиента, позволяя существенно экономить ваш бюджет, без ущерба качеству выполненной работы. 
              br
              br
      include ../../footer
      script(src="../../build/js/all.js")
