footer.footer
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .footer__reference
          h4 ТЕРЕКС-ПЛЮС
          ul.footer__menu
            li.footer-menu__item
              a(href="/") Главная
            li.footer-menu__item
              a(href="/technics.html") Спецтехника
            li.footer-menu__item
              a(href="/about.html") О компании
            li.footer-menu__item
              a(href="/contacts.html") Контакты
            if(!subPage)
              li.footer-menu__item
                button.btn.btn-info(type="button" data-toggle="modal" data-target="#exampleModalCenter") Отправить заявку
              include ./modal
      .col-lg-4.col-md-6.col-sm-6
        h4 КОНТАКТЫ
        .footer__contact.contacts
          .info
            a.icon.icon-phone(href="tel:8(812)999-99-99") 8(812)888-88-88
            a.icon.icon-mail(href="mailto:info@terex-plus.ru") info@terex-plus.ru
            a.icon.icon-telegram(href="tg://resolve?domain=SSaramud") Написать в Telegram
            a.icon.icon-whatsapp(href="https://wa.me/79681938577?text=Здравствуйте.%20Вопрос%20по%20поводу%.") Написать в Whatsapp
      .col-lg-4.md-12
        h4 АДРЕС
        .footer__contact
          .info
            a.icon.icon-address(href="https://yandex.ru/maps/2/saint-petersburg/house/tallinskoye_shosse_153/Z0kYdwFnQEAFQFtjfXRwcHtjYA==/?ll=30.167952%2C59.811704&sll=30.318700%2C59.890521&sspn=0.006416%2C0.002181&z=17.08") Таллинское шоссе, 153/3
    .row.text-center
      .copyright.col-12
        p 2019 © «Терекс-Плюс». Все права защищены