head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(name="description" content=descr)
  meta(name="keywords" content=keyWords)
  meta(name='robots', content='index, follow')
  title !{subPage ? subPage + ' в аренду': false || title}
  //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  //- link(href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,700&display=swap&subset=cyrillic" rel="stylesheet")
  //- link(href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet")
  link(rel="stylesheet" href="/build/css/all.css")
  // Yandex.Metrika counter
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(57454633, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/57454633' style='position:absolute; left:-9999px;' alt='')
  // /Yandex.Metrika counter

  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  //- script(src="https://unpkg.com/popper.js")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "Терекс-Плюс",
      "image": "https://terex-plus.ru/build/img/logo_3.webp",
      "url": "https://terex-plus.ru",
      "telephone": "+7(812)989-03-32",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "ТАЛЛИНСКОЕ ШОССЕ, 153/3",
        "addressLocality": "Санкт-Петербург",
        "addressCountry": "RU"
      },
      "geo": {
      "@type": "GeoCoordinates",
      "latitude": "59.8124485",
      "longitude": "30.16469691"
      },
      "description": "Компания 'Терекс-Плюс' предоставляет в аренду дорожную и строительную технику по Санкт-Петербургу и Ленинградской области",
      "openingHours": [
      "Mo-Su 00:00-24:00"
      ]
    }
  script(type='application/ld+json').
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Терекс-Плюс",
        "url": "https://terex-plus.ru",
        "logo": "https://terex-plus.ru/build/img/logo_3.webp",
        "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "+7(812)989-03-32",
                "contactType": "customer service",
                "email": "info@terex-plus.ru",
                "availableLanguage": [
                    "Русский"
                ]
            }
        ]
    }
  if (page != 'about' && page != 'contacts')
    include metaOG
  