- var reqText = 'Отправить заявку на аренду техники'

section.technic
    .container
      .row
        .col.text-center
          h1.info__title #{subPage}
      .row.text-center
        .col.nav-menu
      .row
        .col.text-center
          +tech(name)
        .col-lg-6
          .card.bg-light.mb-3
            .card-header.text-center Технические характеристики
            +ident(identifikator)  
section.request
    .container
      .row
        include requestForm