mixin article(title, id, link)
  a(href=link class='dropdown-item' class=(identifikator==id)?'dropdown_active':null) !{title}





div.btn.my_btn(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
#collapseExample.collapse.my_dropdown
  +article('Автокраны', 'autokran', '/technics/atkrnKAMAZVEZDEHOD.html')
  +article('Манипуляторы', 'mnpltr', '/technics/mnpltrHD78.html')
  +article('Мини-погрузчики', 'minPogruz', '/technics/minPogruzWECAN800D.html')
  +article('Мини-экскаваторы', 'mine', '/technics/mineKubota.html')
  +article('Самосвалы', 'samosval', '/technics/smsvlKamaz6520.html')
  +article('Телескопические погрузчики', 'teleskPogr', '/technics/teleskPogrBobcatT40170.html')
  +article('Фронтальные погрузчики', 'frontPogruz', '/technics/frontPogruzVOLVOL90F.html')
  +article('Экскаваторы гусеничные', 'ekskGusenich', '/technics/egusHitachi330.html')
  +article('Экскаваторы колесные', 'ekskKoles', '/technics/ekolDoosan.html')
  +article('Экскаваторы погрузчики', 'ekskPogr', '/technics/epogTLB825.html')


  