


button#dropdownMenu2.btn.my_btn.btn-sm.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
.dropdown-menu.my_dropdown(aria-labelledby='dropdownMenu2')
  a.dropdown-item(href="/technics/atkrnKAMAZVEZDEHOD.html") Автокраны
  a.dropdown-item(href="/technics/mnpltrHD78.html") Манипуляторы 
  a.dropdown-item(href="/technics/minPogruzWECAN800D.html") Мини-погрузчики
  a.dropdown-item(href="/technics/mineKubota.html") Мини-экскаваторы
  if identifikator == 'samosval'
    a.dropdown-item.dropdown_active(href="/technics/smsvlKamaz6520.html") Самосвалы
  else 
    a.dropdown-item(href="/technics/smsvlKamaz6520.html") Самосвалы
  a.dropdown-item(href="/technics/teleskPogrBobcatT40170.html") Телескопические погрузчики
  a.dropdown-item(href="/technics/frontPogruzVOLVOL90F.html") Фронтальные погрузчики
  a.dropdown-item(href="/technics/egusHitachi330.html") Экскаваторы гусеничные
  a.dropdown-item(href="/technics/ekolDoosan.html") Экскаваторы колесные
  a.dropdown-item(href="/technics/epogTLB825.html") Экскаваторы погрузчики

  