- var page = 'about', name = 'О компании'

doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.about
      .container
        .row
          .col
            h2.info__title О НАШЕЙ КОМПАНИИ "ТЕРЕКС-ПЛЮС"
            p(align = 'justify')
              | Уже почти 5 лет наша организация предоставляет спецтехнику в аренду в Санкт-Петербурге и Ленинградской области. 
              | Благодаря тому что у нас собственный автопарк - мы можем предоставить качественную услугу для наших клиентов.
              | Мы гарантируем прозрачную стоимость услуг так как работаем без посредников. 
              br
              | Также мы стремимся к тому, чтобы наши клиенты по максимому доверяли нам и нашей технике и высоко оценивали наш подход к 
              | предоставлению услуги аренды Спецтехники. 
            ul.about_item
              li 
                img(src="build/img/Tilda_Icons_3st_percent.png")
                b|Качество
                p|Наша техника регулряно технический осмотр, обслуживается в собственном сервисе или в сервисах надежных компаний
              li
                img(src="build/img/Tilda_Icons_43_logistics_van.png") 
                b|Оперативность
                p|Наша техника регулряно технический осмотр, обслуживается в собственном сервисе или в сервисах надежных компаний
              li 
                img(src="build/img/Tilda_Icons_3st_van.png")
                b|Большой автопарк
                p|Наша техника регулряно технический осмотр, обслуживается в собственном сервисе или в сервисах надежных компаний
              li
                img(src="build/img/Tilda_Icons_9ta_group.png")
                b|Профессиональный коллектив
                p|Наша техника регулряно технический осмотр, обслуживается в собственном сервисе или в сервисах надежных компаний


    include ../footer
    script(src="build/js/all.js")
