- var page = 'about', name = 'О компании', title = 'О нас - компания Терекс-Плюс ', descr = 'Аренда техники на любой срок. Компания "Терекс-Плюс" предлагает прокат техники разного профиля, для большого спектра работ. Наша техника работает по всему Санкт-Петербургу.';

doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.about
      .container
        .row
          .col
            h2.info__title О НАШЕЙ КОМПАНИИ "ТЕРЕКС-ПЛЮС"
            p(align = 'justify')
              | Уже почти 5 лет наша организация предоставляет спецтехнику в аренду в Санкт-Петербурге и Ленинградской области. 
              | Благодаря тому что у нас собственный автопарк - мы можем предоставить качественную услугу для наших клиентов.
              | Мы гарантируем прозрачную стоимость услуг так как работаем без посредников. 
              br
              | Также мы стремимся к тому, чтобы наши клиенты по максимому доверяли нам и нашей технике и высоко оценивали наш подход к 
              | предоставлению услуги аренды Спецтехники. 
            ul.about_item
              li 
                img(src="build/img/Tilda_Icons_3st_percent.png" alt="Качество")
                b|Качество
                p|Мы постоянно работает над улучшением нашей услуги. 24 часа в сутки вы можете обратиться к нам за помощью. Большинство наших постоянных клиентов 
                 |получает технику в день подачи заявки! 
              li
                img(src="build/img/Tilda_Icons_43_logistics_van.png" alt="Оперативность") 
                b|Оперативность
                p|При выполнении любых работ важна оперативность. Каждый знает, что простой работы бьёт по карману и репутации исполнителя. Работая с нами Вы 
                 |получите всё своевременно и без ущерба работе.
              li 
                img(src="build/img/Tilda_Icons_3st_van.png" alt="Большой автопарк")
                b|Большой автопарк
                p|Наша техника регулрно проходит технический осмотр, обслуживается в собственном сервисе или в сервисах надежных компаний.
              li
                img(src="build/img/Tilda_Icons_9ta_group.png" alt="Профессиональный коллектив")
                b|Профессиональный коллектив
                p|Наши специалисты за спиной имеют большой опыт в сфере аренды спецтехники. Наша команда всегда готова прийти на помощь вам, дорогие клиенты. 
                  |Обращайтесь к нам и мы подберем оптимальное решение для Вас.


    include ../footer
    script(src="build/js/all.js")
