- var page = 'contacts', name = 'Контакты'

doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.contacts
      .container
        .row
          .col-12.text-center
            h2.info__title Контакты
        .row
          .col
            .contact
              span.icon.icon-clock 24/7
            .contact
              a.icon.icon-phone(href="tel:8(812)999-99-99") 8(812)888-88-88
            .contact
              a.icon.icon-mail(href="mailto:info@terex-plus.ru") info@terex-plus.ru
            .contact
              a.icon.icon-address(href="https://yandex.ru/maps/2/saint-petersburg/house/tallinskoye_shosse_153/Z0kYdwFnQEAFQFtjfXRwcHtjYA==/?ll=30.167952%2C59.811704&sll=30.318700%2C59.890521&sspn=0.006416%2C0.002181&z=17.08") г. Санкт-Петербург, Таллинское шоссе, 153/3
            .contact.contact_request
              button.btn.btn-info Оформить заявку
    script(src="build/js/all.js")
