- var page = 'contacts', name = 'Контакты'

doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.about
      .container
        .row
          .col
            h2.info__title С НАМИ ВЫГОДНО СОТРУДНИЧАТЬ
            p
              | Основной деятельностью нашей фирмы является предоставление услуг аренды спецтехники, с помощью которой Вы сможете осуществить грузоподъемные, монтажные, земляные и дорожно-строительные работы. Компания «СПЕЦТРАНС», основанная более 12 лет назад, не является новичком в данной сфере. В процессе многолетней работы мы получили ценный опыт, который помог выработать и внедрить комплексную стратегию для взаимовыгодного сотрудничества с каждым клиентом. Мы не останавливаемся на достигнутом и постоянно отслеживаем современные тенденции в данной сфере.
              | Поэтому услуги нашей компании по аренде спецтехники постоянно совершенствуются.
              | Так же мы работаем без посредников, поэтому можем гарантировать прозрачную и стабильную стоимость услуг без скрытого увеличения стандартной цены.
              | Государственные структуры РФ, строительные организации и небольшие компании, связанные с привлечением специализированных машин для работ на своих объектах, где практически всегда очень многое зависело от профессионализма, скорости и грамотной работы техники и операторов, высоко оценивают наш подход к предоставляемым услугам. Мы стремимся к тому, чтобы наши клиенты всегда получали полный спектр качественных услуг по аренде спецтехники.
    include ../footer
    script(src="build/js/all.js")
