- var requestText = 'Отправить заявку на аренду/подбор техники', widthIcon = 65, title = 'Аренда спецтехники в Санкт-Петербурге Терекс-Плюс', descr = "На нашем сайте по аренде спецтехники компании 'Терекс-Плюс' представлен большой выбор техники от мини-погрузчиков до автокранов 40 тонн. Если не нашли нужную Вам технику в общем каталоге - воспользуйтесь нашей удобной формой для отправки заявки!";
- var page = 'index', keyWords = 'аренда спецтехники, аренда строительной техники, спецтехника в аренду, аренда дорожной техники, аренда спецтехники в Санкт-Петербурге, аренда гусеничного экскаватора';
- index = true;
doctype html
html(lang="ru")
  include ../head
  body
    header#header.header
      .container
        .row.align-items-center
          .col-sm.logo
            img(src="build/img/logo_3.webp" width="100" alt="Аренда спецтехники в Сакт-Петербурге")
            span.logo_name
              | ТЕРЕКС-ПЛЮС  
              span.sub Аренда Спецтехники в СПб
          .col-sm.info.text-right
            a.icon.icon-phone(href="tel:8(812)989-03-32") 8(812)989-03-32
            div.icon.icon-mail.header_button.indexPage(href='#requestform') Отправить заявку
            //- a.icon.icon-mail(href="mailto:info@terex-plus.ru") info@terex-plus.ru
            //- a.icon.icon-telegram(href="tg://resolve?domain=SSaramud") Написать в Telegram
            //- a.icon.icon-whatsapp(href="https://wa.me/79681938577?text=.") Написать в Whatsapp
        .row
          .col-12.text-center
            nav
              ul.menu.justify-content-center
                li.menu__item
                  a.active(href="./") Главная
                li.menu__item
                  a.sub_menu(href="./technics.html") Спецтехника
                  include ../techMenu
                li.menu__item
                  a(href="./about.html") О компании
                li.menu__item
                  a(href="./contacts.html") Контакты
        .row.header__phone
          .phone.col
            h1 Аренда спецтехники в Санкт-Петербурге
            p
              a(href="tel:+7(812)989-03-32") 8(812)989-03-32
            .col-lg-12
              img.excavator(src="/build/img/terex.webp" width="800" alt="Экскаватор в аренду")
    
    section.technics
      .container
        .row.text-center
          .col-sm
            h2.technics__title Каталог спецтехники
        .row.text-center
          .techics__menu.col-12
            ul.technics__menu
              li#autokran.btn.techs Автокраны
              li#mnpltr.btn.techs Манипуляторы
              li#minPogruz.btn.techs Мини-погрузчики
              li#mine.btn.techs Мини-экскаваторы
              li#samosval.btn.techs Самосвалы
              li#teleskPogr.btn.techs Телескопические погрузчики
              li#frontPogruz.btn.techs Фронтальные погрузчики
              li#ekskGusenich.btn.techs Экскаваторы Гусеничные
              li#ekskKoles.btn.techs Экскаваторы Колесные
              li#ekskPogr.btn.techs Экскаваторы Погрузчики
              
        .row.justify-content-center
          .technics__menu-items.text-center
            .technics__menu-item
    section.information
      .container
        .row.text-center
          .col
            h2.info__title Работая с нами Вы получите
            div.prop
              ul.advantages_list.text-left
                li 
                  div.text-change
                    img(src="build/img/Tilda_Icons_3st_van.webp" alt="Большой выбор техники")
                    b.first|большой выбор техники
                    b.second|большой выбор техники !!!!!! 
                li  
                  div.text-change
                    img(src="build/img/Tilda_Icons_19ad_social_networks.webp" alt="Исправная техника") 
                    b.first|100% исправную выбранную Вами модель спецтехники
                    b.second|большой выбор техники !!!!!!
                li
                  div.text-change
                    img(src="build/img/Tilda_Icons_31_format_doc.webp" alt="Договор сотрудничества" )
                    b.first|официальный договор сотрудничества
                    b.second|большой выбор техники !!!!!!
                li
                  div.text-change 
                    img(src="build/img/Tilda_Icons_11mu_calendar.webp" alt="Любой срок аренды")
                    b.first|любой срок аренды
                    b.second|большой выбор техники !!!!!!
                li
                  div.text-change
                    img(src="build/img/Tilda_Icons_32_profession_builder.webp" alt ="Оператор техники")
                    b.first|профессионального оператора техники
                    b.second|большой выбор техники !!!!!!
                li
                  div.text-change 
                    img(src="build/img/Tilda_Icons_3st_discount2.webp" alt = "Скидка на второй заказ")
                    b.first|скидку на второй заказ
                    b.second|большой выбор техники !!!!!!
    section.information-second
      .container
        .row.text-center
          .col
            h2.info__title С НАМИ ВЫГОДНО СОТРУДНИЧАТЬ
            p.advantages
              | На сегодняшний день 
              strong
              |аренда спецтехники в СПб
              |является популярной услугой не только у коммерческих строительных организаций, 
              |но и у индивидуальных предпринимателей, это обуславливается доступностью стоимости 
              strong услуги аренды спецтехники. 
              | С минимальными финансовыми вложениями вы сможете арендовать технику и выполнить широкий спектр работ.
              | У нас вы можете взять в аренду 
              strong экскаватор погрузчик с гидромолотом, 
              strong экскаватор полноповортный, 
              strong автокран 14 тонн, 
              strong автокран 40 тонн, 
              strong кран манипулятор 
              |и т.д.
              strong
              br
              br
    section.request
      .container
        .row   
        .row
          include ../requestForm
    include ../footer
    script(src="build/js/all.js" async)