- var page = 'technics', name = 'Спецтехника', title = 'Каталог спецтехники в аренду. Долгосрочная аренда по выгодным ценам в компании "Терекс-Плюс". На нашем сайте удобная форма отправки заявки!', descr = 'Аренда разных типов спецтехники от компании "Терекс-Плюс". Строительная техника, дорожная, манипуляторы, мини-погрузчики. Предоставляем выгодные условия по аренде.'
- var keyWords = 'аренда спецтехники,аренда спецтехники в Санкт-Петербурге,Стоимость аренды';
doctype html
html(lang="ru")
  include ../head
  title Каталог спецтехники
  body
    include ../header
    include ../strip
    section.technics
      .container
        .row.text-center
          .col-sm
            h1.technics__title Каталог спецтехники
        .row.text-center
          .techics__menu.col-12
            ul.technics__menu
              .col
              li#allTechnics.btn.btn-warning.text-white.techs Вся Спецтехника
              li#autokran.btn.btn-info.techs Автокраны
              li#mnpltr.btn.btn-info.techs Манипуляторы
              li#minPogruz.btn.btn-info.techs Мини-погрузчики
              li#mine.btn.btn-info.techs Мини-экскаваторы
              li#samosval.btn.btn-info.techs Самосвалы
              li#teleskPogr.btn.btn-info.techs Телескопические погрузчики
              li#frontPogruz.btn.btn-info.techs Фронтальные погрузчики
              li#ekskGusenich.btn.btn-info.techs Экскаваторы Гусеничные
              li#ekskKoles.btn.btn-info.techs Экскаваторы Колесные
              li#ekskPogr.btn.btn-info.techs Экскаваторы Погрузчики
              
        .row.justify-content-center
          .technics__menu-item
    include ../footer 
    script(src="build/js/all.js" async)
    
