- var page = 'technics', name = 'Спецтехника'

doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.technics
      .container
        .row.text-center
          .col-sm
            h1.technics__title Каталог спецтехники
        .row.text-center
          .techics__menu.col-12
            ul.technics__menu
              .col
                li#allTechnics.btn.btn-warning.text-white.techs Вся Спецтехника
              li#autokran.btn.btn-info.techs Автокраны
              li#mini.btn.btn-info.techs Миниэкскаваторы
              li#samosval.btn.btn-info.techs Самосвалы
              li#ekskGusenich.btn.btn-info.techs Экскаваторы Гусеничные
              li#ekskKoles.btn.btn-info.techs Экскаваторы Колесные
              li#ekskPogr.btn.btn-info.techs Экскаваторы Погрузчики
        .row.justify-content-center
          .technics__menu-item
    include ../footer 
    script(src="build/js/all.js")
