
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Телескопический погрузчик BOBCAT T40170', mainTechnicPage = 'Телескопические погрузчики', mainTechnicPageUrl = 'teleskopicheskie-pogruzchiki.html', value = "Спецтехника", name = 'teleskPogrBobcatT40170', identifikator = 'teleskPogrM', modalHidden = true;
- var descr = '"Терекс-Плюс" предоставляет в аренду погрузчик телескопический  BOBCAT T40170 для широкого спектра работ. Нужно повысить производительность погрузочно-разгрузочных работ? Легко! Арендуйте у нас телескопический погрузчик BOBCAT T40170. Стоимость услуги для каждого клиента формируется индивидуально.';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'аренда телескопического погрузчика телескопический погрузчик BOBCAT T40170, аренда телескопического погрузчика телескопический погрузчик BOBCAT T40170 в Санкт-Петербурге, аренда погрузчика, аренда экскаватора, услуги телескопичесого погрузчика телескопический погрузчик BOBCAT T40170';




doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
