

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Автокран КАМАЗ-65115 "Клинцы" КС-55713-1К-3 25 тонн', value = "Спецтехника", name = 'atkrKAMAZ65115', identifikator = 'autokran', modalHidden = true;
- var descr = 'Аренда автокрана Клинцы 25 тонн на шасси КАМАЗа 65115 в Санкт-Петербурге и Ленинградской области. Цена за смену от 11000р. Оптимальная стоимость аренды автокрана Клинцы 25 тонн складывается после уточнения требуемых объемов работ.';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'автокран 21 метр, автокран 25 тонн, аренда автокрана 21 метр, аренда автокрана 25 т, аренда автокрана 25 тонн в Санкт-Петербурге';


doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      section.description
        .container
          .row.descr
            .col
              p.advantages
              | Автокран "Клинцы" стрелового типа КС-55713-1К-3 грузоподъемностью 25 тонн на шасси КамАЗ-65115. 
              | Выполняет строительно-монтажные и погрузочно-разгрузочные работы. Шасси хорошей маневренности и легкостью 
              | управления, эти преимущества позволяют использовать кран на объектах с различными типами подъездных путей, 
              | а небольшие габариты делают его пригодным для эксплуатации в стесненных условиях современных городов.
              | Дополнительное оснащение стрелы гуськом длиной 9 м обеспечивает большую зону облсуживания. 
              | Кран может производить работы с грузами в круговой зоне 360 градусов.
              

      include ../footer
script(src="../build/js/all.js")
