
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Автокран МАЗ 14 тонн', value = "Спецтехника", name = 'atkrnMaz', identifikator = 'autokran', modalHidden = true;
- var descr = 'Аренда автокрана МАЗ - 14 тонн в Санкт-Петербурге и Ленинградской области - Цена за смену от 11 000 руб. Аренда автокрана 14 тонн в круглосуточном режиме, позволит вам предоставить самую низкую стоимость от 8000 руб./смена';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
