

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Автокран КАМАЗ-63501 «КЛИНЦЫ» КС-65719-1К 40 тонн', value = "Спецтехника", name = 'atkrKAMAZ63501', identifikator = 'autokran', modalHidden = true;
- var descr = 'Нужна техника для погрузочно-разгрузочных работ? Тогда аренда Автокрана "Клинцы" 40 тонн станет отличным решением. "Терекс-Плюс" предоставляет в аренду Автокран Клинцы 40 тонн от 23000р. за смену'; 
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Аренда автокрана, Аренда автокрана автокран клинцы - 40 тонн, Аренда автокрана автокран клинцы - 40 тонн в Санкт-Петербурге';


doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      .row.descr
        .col
          p 
      include ../footer
script(src="../build/js/all.js")
