
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор гусеничный VOLVO EC 240 PRAIM', value = "Спецтехника", name = 'egusVOLVOEC240', identifikator = 'ekskGusenich', modalHidden = true;
- var descr = 'Гусеничный экскаватор VOLVO EC 240 PRAIM, обладает непревзойденнными рабочими харектиристиками. Мы предоставляем в аренду Гусеничный экскаватор VOLVO EC 240 PRAIM в Санкт-Петербурге и Ленинградской области от 14400р. за смену';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
