
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор колёсный JCB JS200W', value = "Спецтехника", name = 'ekolJCBJS200W', identifikator = 'ekskKoles', modalHidden = true;
- 




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
