
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор колёсный VOLVO EW 160', value = "Спецтехника", name = 'ekolVOLVOEW160', identifikator = 'ekskKoles';
- 




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
