
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор колёсный DOOSAN SOLAR 180', value = "Спецтехника", name = 'ekolDoosan', identifikator = 'ekskKoles', modalHidden = true;
- var descr = 'Для коммунальных и строительных работ советуем взять в аренду колесный экскаватор DOOSAN SOLAR 180. Данная модель надежна и универсальна. "Терекс-Плюс" предоставляет в аренду Колесный экскаватор DOOSAN SOLAR 180 в Санкт-Петербурге и Ленинградской области по цене от 13600р. за смену';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'колесный экскаватор DOOSAN SOLAR 180, аренда колесного экскаватора DOOSAN SOLAR 180, аренда колесного экскаватора DOOSAN SOLAR 180 в Санкт-Петербурге, аренда Колесные экскаваторы';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
