
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор погрузчик JCB 4CX', value = "Спецтехника", name = 'epogJSB4CX', identifikator = 'ekskPogr', modalHidden = true;
- var descr = 'Мы - "Терекс-плюс", предлагаем в аренду экскаватор-погрузчик JCB 4CX с грузоподъемностью 4,64 тонны и глубиной копания 5,3 метра. Данная модель может выполнять комплексные решения задач от подготовки площадки под строительство, планировки участка, до погрузки и вывоза мусора с территории площадки. Цена за смену от 12000 руб.';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
