
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Фронтальный погрузчик LG936L', value = "Спецтехника", name = 'frontPogruzLG936L', identifikator = 'frontPogruz';
- 




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
