

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Мини-погрузчик TAKEUCHI TL140', value = "Спецтехника", name = 'minPogruzTAKEUCHI', identifikator = 'minPogruz', modalHidden = true;
- var descr = 'Вашей площадке нужен многофункциональный помощник? Тогда аренда мини-погрузчика TAKEUCHI TL140 станет оптимальным выбором. В "Терекс-Плюс" можно арендовать Мини-погрузчик TAKEUCHI TL140 в Санкт-Петербурге и области от 12000 руб за смену'

doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
