    
- var subPage= 'Самосввалы', title = 'Самосввалы в аренду', descr = 'Аренда разных типов спецтехники от компании "Терекс-Плюс". Строительная техника, дорожная, манипуляторы, мини-погрузчики. Предоставляем выгодные условия по аренде.';
- var keyWords = 'аренда спецтехники,аренда спецтехники в Санкт-Петербурге,Стоимость аренды';
- var modalHidden = false;
doctype html
html(lang="ru")
  include ../head
  body
    include ../header
    include ../strip
    section.technics#mainTechnicPage
      .container
        .row.text-center
          .col-sm
            h1.technics__title#samosavls Самосвалы             
        .row.justify-content-center
          .technics__menu-item
    include ../footer 
    script(src="../build/js/all.js" async)
