
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Самосвал RENAULT KERAX 8Х4', value = "Спецтехника", name = 'smsvlReanaultKerax', identifikator = 'samosval', modalHidden = true;
- var descr = "Сдаём в аренду Самосвал RENAULT KERAX 8Х4 для большого спектра работ: ремонт, строительство, добыча полезных ископаемых. Компания 'Терекс-Плюс предоставляет в аренду самосвал RENAULT KERAX 8Х4', стоимость от 11200р за смену. Скидки при долгосрочном сотрудничестве.";




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
