
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Самосвал КАМАЗ 6520', value = "Спецтехника", name = 'smsvlKamaz6520', identifikator = 'samosval', modalHidden = true;
- var descr = "'Терекс-Плюс' предоставляет услугу по аренде Самосвала КАМАЗ 6520 для большого количества работ. Подход к формированию стоимости аренды самосвала к каждому клиенту индивидуален, после уточнения объемов работ формируется оптимальное для Вас решение.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Аренда самосвала, Аренда самосвала самосвал камаз 6520, Аренда самосвала самосвал камаз 6520 в Санкт-Петербурге, аренда спецтехники';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
