
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Телескопический погрузчик JCB AGRI 536-60', value = "Спецтехника", name = 'teleskPogrJCBAGRI', identifikator = 'teleskPogr', modalHidden = true;
- 




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
