
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Телескопический погрузчик BOBCAT T40170', value = "Спецтехника", name = 'teleskPogrBobcatT40170', identifikator = 'teleskPogr', modalHidden = true;
- var descr = '"Терекс-Плюс" предоставляет в аренду погрузчик телескопический  BOBCAT T40170 для широкого спектра работ. Нужно повысить производительность погрузочно-разгрузочных работ? Легко! Арендуйте у нас телескопический погрузчик BOBCAT T40170. Стоимость услуги для каждого клиента формируется индивидуально, в зависимости от сроков и вида работ.';




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
