
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Телескопический погрузчик FARESIN FH 14.42', value = "Спецтехника", name = 'teleskPogrFaresinFH1442', identifikator = 'teleskPogr', modalHidden = true;
- var descr = "Вам нужна многофункциональная погрузочная техника? Оптимальным решением будет арендовать у нас телескопический погрузчик FARESIN FH 14.42. 'Терекс-Плюс' предоставляет в аренду погрузчик телескопический FARESIN FH 14.42 для разных видов работ, за смену от 13500р.";




doctype html
html(lang="ru")
    include ../head
    body
      include ../header
      include ../strip
      include ../technic
      include ../footer
      script(src="../build/js/all.js")
