
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage = 'Экскаватор гусеничный JCB JS 145', mainTechnicPage = 'Экскаваторы гусеничные', mainTechnicPageUrl = 'excavatory-gusenichnye.html', value = "Спецтехника", name = 'egusJCBJS145', identifikator = 'ekskGusenichM', modalHidden = true;
- var descr = 'Гусеничный экскаватор Экскаватор гусеничный JCB JS 145 даёт хорошие результаты при землеройных работах на неустойчивом грунте. Экскаватор Hitachi 300 имеет внушительный ковш объемом 2 куб. м. Стоимость аренды гусеничного экскаватора от 18000р. за смену. При больших сроках аренды, предоставляем скидки!';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'гусеничный экскаватор JCB JS 145,, аренда гусеничный экскаватор в Санкт-Петербурге, аренда Гусеничные экскаваторы';



doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
