
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор гусеничный длиннорукий VOLVO EC 240', value = "Спецтехника", name = 'egusVOLVOEC240LOng', identifikator = 'ekskGusenichM', modalHidden = true;
- var descr = "'Терекс-Плюс' предоставляет в аренду гусеничный длиннорукий VOLVO EC 240. Услуга «Аренда гусеничного длиннорукого VOLVO EC 240» очень популярна в 'Терекс-Плюс', благодаря оптимальному соотношению цены и спектру применения данного экскаватора.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'гусеничный экскаватор длиннорукий VOLVO EC 240, аренда гусеничный экскаватор длиннорукий VOLVO EC 240, аренда гусеничный экскаватор длиннорукий VOLVO EC 240 в Санкт-Петербурге, аренда Гусеничные экскаваторы';




doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
