
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage = 'Экскаватор гусеничный JCB JS 85', mainTechnicPage = 'Экскаваторы гусеничные', mainTechnicPageUrl = 'excavatory-gusenichnye.html', value = "Спецтехника", name = 'egusJCBJS85', identifikator = 'ekskGusenichM', modalHidden = true;
- var descr = 'Экскаватор гусеничный JCB JS 85 даёт хорошие результаты при землеройных работах на неустойчивом грунте. При больших сроках аренды, предоставляем скидки!';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Экскаватор гусеничный JCB JS 85, аренда гусеничный экскаватора JCB JS 85, аренда Гусеничные экскаваторы';



doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
