
mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Экскаватор гусеничный VOLVO EC 240 PRAIM', mainTechnicPage = 'Экскаваторы гусеничные', mainTechnicPageUrl = 'excavatory-gusenichnye.html', value = "Спецтехника", name = 'egusVOLVOEC240', identifikator = 'ekskGusenichM', modalHidden = true;
- var descr = 'Гусеничный экскаватор VOLVO EC 240 PRAIM, обладает непревзойденнными рабочими харектиристиками. Мы предоставляем в аренду Гусеничный экскаватор VOLVO EC 240 PRAIM в Санкт-Петербурге и Ленинградской области от 14400р. за смену';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'гусеничный экскаватор VOLVO EC 240 PRAIM, аренда гусеничный экскаватор VOLVO EC 240 PRAIM, аренда гусеничный экскаватор VOLVO EC 240 PRAIM в Санкт-Петербурге, аренда Гусеничные экскаваторы';


doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
