

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage = 'Мини-погрузчик WECAN 800D', value = "Спецтехника", name = 'minPogruzWECAN800D', identifikator = 'minPogruzM', modalHidden = true;
- var descr = "Аренда мини-погрузчика  WECAN 800D даст вам отличного помощника на вашей строительной площадке. В компании 'Терекс-Плюс' при аренде мини-погрузчика WECAN 800D осуществляется индивидуальный подход к каждому клиенту.";
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'аренда мини-погрузчика мини-погрузчик WECAN 800D, услуги минипогрузчика WECAN 800D, аренда WECAN 800D,услуги минипогрузчика,заказать мини погрузчик Мини-погрузчик WECAN 800D,арендовать минипогрузчик,аренда мини погрузчика в Санкт-Петербурге';

doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")