

mixin tech(name)
  div(id="" + name class="tech")

mixin ident(identifikator)
  div(id="" + identifikator class="card-body")

- var subPage= 'Автокран Урал КС-55733 ЧЕЛЯБИНЕЦ 32 тонны', value = "Спецтехника", name = 'atkrURAL55733', identifikator = 'autokranM', modalHidden = true;
- var descr = 'Аренда автокрана Урал КС-55733 ЧЕЛЯБИНЕЦ 32 тонны в Санкт-Петербурге и Ленинградской области - Цена за смену от 17 000 руб. Аренда автокрана 32 тонны в круглосуточном режиме, позволит вам предоставить самую низкую стоимость аренды от 13000 руб./смена';
- var image = 'https://terex-plus.ru/build/img/' + name + '.webp';
- var keyWords = 'Аренда автокрана, Аренда автокрана автокран Челябинец - 32 тонны, Аренда автокрана автокран Челябинец - 32 тонны в Санкт-Петербурге';

doctype html
html(lang="ru")
    include ../../head
    body
      include ../../header
      include ../../strip
      include ../../technic
      include ../../footer
      script(src="../../build/js/all.js")
